* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    text-align: center;
    width: 60px;
    background-color: #ffc500;
    font-size: 20px;
    height: 100vh;
    padding: 5px;
}
.logofandom {
    width: 35px;
}

li, a {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

#search {
    color: #550343 !important;
    margin-top: 12px;
}
#game, #film, #tv, #book {
    color: #fa0f62 !important;
    margin-top: 20px;
}
.circle { 
    border-width: 3px;
    border-style: solid;
    border-color: #ffc500;
    background-color: white;
    border-image: initial;
    border-radius: 70px; 
    padding: 6% 9% 6% 9%; 
    -moz-border-radius: 90px; 
    -webkit-border-radius: 90px; 
    margin-top: 12px;
 }

 .televisao !important {
     border: none !important;
     border-width: 0;
    border-style:none;
    background-color:#ffc500;
    border-image: initial;
    border-radius: 70px; 
    padding: 6% 9% 6% 9%; 
    -moz-border-radius: 90px; 
    -webkit-border-radius: 90px; 
    margin-top: 12px;
 }